/* slider color negro petroleo */
[class*=sidebar-dark-] {
    background-color: #05074e;
    color: #fff;
  }
  .navbar-expand {
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -ms-flex-pack: start;
    justify-content: flex-start;
    background: #141824;
  }
  .content-wrapper {
    height: 100%;
    background: #141824;
    color: #fff;
  }

  /* slider color negro petroleo */